


.input-wrap {
  // background-color: lightgreen;
  label {
    @apply block w-full;
    font-size: 14px;
    line-height: 16px;
  }
  input {
    @apply block w-full outline-none;
  }

  &.type-textarea {
    textarea {
      @apply block resize-none w-full outline-none;
      min-height: 120px;
    }
  }

  &.type-radio,
  &.type-checkbox {
    @apply relative grow;
    label {
      @apply relative pl-7 text-base;
      &:before {
        @apply absolute w-5 h-5 left-0 top-0.5;
        content: '';
        background-color: #F0F1F5;
      }
      &:after {
        @apply absolute w-3 h-3 rounded-full left-1 top-1.5 opacity-0 bg-color-accent;
        content: '';
      }
    }
    input {
      @apply absolute left-0 top-0 -z-[1] opacity-0;
    }
    &:has(input:checked) {
      label {
        &:after {
          @apply opacity-100;
        }
      }
    }
  }
  &.type-radio {
    label {
      &:before,
      &:after {
        @apply rounded-full;
      }
    }
  }
  &.type-checkbox {
    label {
      &:before,
      &:after  {
        @apply rounded;
      }
    }
  }

}